$mobile: 28.125em; // 450px
$large-mobile: 41.25em; // 660px
$tablet: 48em; // 768px
$desktop: 64em; // 1024px
$widescreen: 77.5em; // 1240px
$largest-width: 90em; // 1440px

/* MAX WIDTHS */

@mixin largest-desktop {
  @media only screen and (max-width: $largest-width) {
    @content;
  }
}
@mixin large-desktop {
  @media only screen and (max-width: $widescreen) {
    @content;
  }
}
@mixin small-desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}
@mixin large-mobile {
  @media only screen and (max-width: $large-mobile) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

/* MIN WIDTHS */

@mixin largest-desktop-min {
  @media only screen and (min-width: $largest-width) {
    @content;
  }
}
@mixin large-desktop-min {
  @media only screen and (min-width: $widescreen) {
    @content;
  }
}
@mixin small-desktop-min {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}
@mixin tablet-min {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}
@mixin large-mobile-min {
  @media only screen and (min-width: $large-mobile) {
    @content;
  }
}
@mixin mobile-min {
  @media only screen and (min-width: $mobile) {
    @content;
  }
}
