// Pre Sets
$massive-space: 4.375em; // 70px
$large-space: 3.125em; // 50px
$med-space: 1.875em; // 30px
$small-space: 1.25em; // 20px
$tiny-space: 0.65em; // 10px

// General Mixins
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
@mixin rotate ($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}
@mixin max {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
@mixin justify {
  display: block;
  width: 100%;
  text-align: justify;

  &::after {
    display: inline-block;
    width: 100%;
    content: ' ';
    height: 1px !important;
  }

  .justify ol,
  .justify ul,
  div {
    display: inline-block;
    vertical-align: top;
  }
}
// HTML Elements
/*=====================================
GLOBAL
=====================================*/
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: $body-font;
  overflow-x: hidden;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.f__left {
  float: left !important;
}

.parent {
  display: table;
}

.child {
  display: table-cell;
  vertical-align: middle;
}
/*=====================================
WRAPPERS
=====================================*/
.row {
  @include clearfix;
  margin: 0 auto;
  width: 100%;
  padding-right: 4%;
  padding-left: 4%;
  @include largest-desktop-min {
    padding-right: 0;
    padding-left: 0;
  }
}
/*=====================================
COLUMNS
=====================================*/
.col__1_2 {
  width: 50%;
  max-width: 50%;
  @include large-mobile {
    @include max;
  }

  &--tablet {
    @include tablet {
      @include max;
    }
  }

  &.space {
    width: 47.5%;

    &:last-child {
      float: right;
    }
    @include large-mobile {
      @include max;
    }
  }
}

.col__1_3 {
  width: 33.33%;
  max-width: 33.33%;
  @include mobile {
    @include max;
  }

  &.carousel {
    width: 33.33%;
    max-width: 33.33%;
  }

  &--large-mob {
    @include large-mobile {
      @include max;
    }
  }
}

.col__2_3 {
  width: 66.66%;
  max-width: 66.66%;
  @include mobile {
    @include max;
  }
}

.col__1_3_small {
  width: 30%;
  max-width: 30%;
  @include mobile {
    width: 50%;
    max-width: 50%;
  }
}

.col__1_4 {
  width: 25%;
  max-width: 25%;
  @include tablet {
    width: 50%;
    max-width: 50%;
  }
}

.col__3_4 {
  width: 75%;
  max-width: 75%;
  @include mobile {
    @include max;
  }
}

.col__1_5 {
  width: 20%;
  max-width: 20%;
  @include mobile {
    @include max;
  }
}

.col__2_5 {
  width: 40%;
  max-width: 40%;
  @include small-desktop {
    width: 50%;
    max-width: 50%;
  }
  @include large-mobile {
    @include max;
  }

  &--tablet {
    width: 40%;
    max-width: 40%;
    @include small-desktop {
      width: 50%;
      max-width: 50%;
    }
    @include tablet {
      @include max;
    }
  }
}

.col__3_5 {
  width: 60%;
  max-width: 60%;
  @include small-desktop {
    width: 50%;
    max-width: 50%;
  }
  @include large-mobile {
    @include max;
  }

  &--tablet {
    width: 60%;
    max-width: 60%;
    @include small-desktop {
      width: 50%;
      max-width: 50%;
    }
    @include tablet {
      @include max;
    }
  }
}

.col__4_5 {
  width: 80%;
  max-width: 80%;
  @include mobile {
    @include max;
  }
}

.col__15 {
  width: 15%;
  @include mobile {
    @include max;
  }
}

.col__10 {
  width: 10%;
  @include mobile {
    @include max;
  }
}

.col__7 {
  width: 7%;
  @include mobile {
    @include max;
  }
}

.col__93 {
  width: 93%;
  @include mobile {
    @include max;
  }
}

.col__90 {
  width: 90%;
  @include mobile {
    @include max;
  }
}
